* {
    font-family: monospace;
    box-sizing: border-box;
    text-transform: lowercase;
}

#menuBar{
    display: flex;
    background-color: black;
    margin: 0px;

}

.menuRight{
    margin-left: 1rem;
}

#menuBar li{
    list-style: none;
    padding: 1.5rem;
}

li:hover{
    background-color: whitesmoke;
}

a{
    text-decoration: none;
    color: whitesmoke;
    padding:  2rem;
}

li:hover a {
    color: black;
}

#search{
    background-color: whitesmoke;
}