{% extends 'soko/base.html' %}
{% load static %}
{% block css_link %}
{% endblock css_link%}
{% block content %}
    <h2>Notifications</h2>
    <ul>
        {% for notification in notifications %}
            <li>
                {{ notification.message }} - {{ notification.created_at }}
                {% if not notification.is_read %}
                    <strong>(New)</strong>
                {% endif %}
            </li>
        {% empty %}
            <li>No notifications.</li>
        {% endfor %}
    </ul>
{% endblock content %}
